.DS_Store
.dart_tool/

.packages
.pub/

build/

android/.cxx/*
android/.idea/misc.xml
android/.idea/gradle.xml
.idea/codeStyles/Project.xml
.idea/workspace.xml
android/.idea/caches/build_file_checksums.ser
